{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <h2>Track Your Finances Easily</h2>
    <p> Luna is a versatile finance tracker designed to help users manage their expenses effectively.<br>
        With features that allow for easy bill splitting and expense tracking among friends and family,<br>
        Luna empowers individuals to take control of their finances by connecting their bank accounts and promoting better budgeting habits.<br>
        The app offers a seamless experience by automatically categorizing transactions and providing insights into spending patterns.<br>
        Users can create groups for shared expenses, making it simple to see who owes what in real-time. With robust security measures in place,<br>
        including encryption technology, Luna ensures that personal financial data remains safe. Whether you're on a trip or just managing daily expenses,<br>
        Luna makes financial management straightforward and user-friendly, allowing for both personal and shared finance tracking.</p>

    <main>
            <p>Manage your expenses and stay on top of your budget with Luna.</p>
        </main>
        <footer>
            <p>&copy; 2025 Luna Finance Tracker. All rights reserved.</p>
        </footer>
{% endblock content %}